

// adjustment variables
$container-width    : rem(960px);


//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$grey: #6c6b6b;
$dark-black: #1f2122;
$soft-grey:  rgba(47, 50, 52, 0.93);

//breapoints
$tablets: 768px;
$phones: 480px;

// layout
@import "_misc/mixins";
@import "_misc/adjustment";
@import "_misc/normalize";
@import "_misc/fonts";

// styles
@import "sections/about";
@import "sections/humburger";
@import "sections/advantages";
@import "sections/composition";
@import "sections/reviews";
@import "sections/team";
@import "sections/menu";
@import "sections/delivery";
@import "sections/footer";



