
.about {
    background-image: url(../images/bg/bg-about.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative; 
    min-height: rem(650px);
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-top: rem(12px);

    .logo {
        // width: (100px*100%)/$container-width;
        width: rem(100px);
        &__icon {
            display: block;
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__right {
        display: flex;
        // width: (780px*100%)/$container-width;
        justify-content: space-between;
        align-items: center;
        
    }
}

.menu-list {
    display: flex;
    // width: (670px*100%)/780px;
    // justify-content: space-between;
    margin-right: rem(10px);

    @include tablets {
        display: none;
    }
}

.menu-list__item-link {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: rem(13px);
    font-family: 'Ubuntu_medium';

    
}

.menu-list__item:last-child:after {
    display: none;

}

.menu-list__item {
    &:after {
        content: "•";
        margin: 0 rem(14px);
        color: #fff;
    }
}

.order-btn {
    padding: rem(10px) rem(14px);
    text-decoration: none;
    background-color: $orange;
    color: #ffffff;
    font-size: rem(13px);
    font-family: 'Ubuntu_medium';
    text-transform: uppercase;
    @include border-radius(rem(5px));
}

.humburger-link-icon {
    width: rem(26px);
    height: rem(26px);
    background-repeat: no-repeat;
    background-position: center;
    // position: absolute;
    // right: rem(-35px);
    margin-left: rem(24px);
    display: none;

    @include tablets {
        display: flex;
    }
}

.pagination {
    position: fixed;
    right: 5%;
    top: 10%;

    @include tablets {
        display: none;
    }
}

.pagination-list__item {
    
    width: rem(6px);
    height: rem(6px);
    background-color: #ffffff;
    @include border-radius(50%);
    margin-bottom: rem(15px);
    position: relative;

    &.active:after {
    content: "";
    position: absolute;
    top: rem(-6px);
    left: rem(-6px);
    display: block;
    width: rem(16px);
    height: rem(16px);
    border: rem(1px) solid #ffffff;
    @include border-radius(50%);
    }
}


.content-wrap {
    display: flex;
    align-items: center;
    // margin-bottom: rem(95px);
    margin: auto;

    @include tablets {
        flex-direction: column;
        padding: 0 20%;
        text-align: center;
        justify-content: center;
    }
    
}

.about__pic {
//    width: (480px*100%)/$container-width;
    width: 50%;
   text-align: center;
    @include tablets {
        width: 100%;
    }
   //flex: 1;
}

.about__pic-elem {
    // display: block;
    max-width: 100%;
    max-height: 100%;
}

.about__desc {
    // flex: 1;
    width: 50%;
    &-text1 {
        font-family: 'Gagalin_regular'; 
        font-size: rem(72px);
        text-transform: uppercase;
        color: $yellow;

        @include tablets {
            font-size: rem(63px);
        }
    }

    &-text2 {
        font-family: 'Lifehack_medium';
        font-size: rem(72px);
        line-height: rem(65px);
        color: #ffffff;
        @include tablets {
            font-size: rem(54px);
        }
    }
    @include tablets {
        width: 100%;
    }
}

.arrow {
    // position: absolute;
    // top: 90%;
    // left: 50%;
    // margin-left: -10px;
    text-align: center;
    margin-bottom: rem(40px);
}